@page
@model yevgeller_v3.Pages.SmallLinksModel
@{
}

<h1>Articles</h1>

<h3>JavaScript</h3>
<a href="https://javascript.plainenglish.io/top-javascript-one-liners-will-make-you-a-superhero-af1363083354">JS One-liners</a>