@page
@model yevgeller_v3.Pages.SmallLinksModel
@{
}

<h1>Articles</h1>

<h3>JavaScript</h3>
<a href="https://javascript.plainenglish.io/top-javascript-one-liners-will-make-you-a-superhero-af1363083354">JS One-liners</a>
<a href="https://deepu.tech/concurrency-in-modern-languages-js/">Concurrency in JS</a>

<h3>Azure</h3>
<a href="https://learn.microsoft.com/en-us/azure/app-service/quickstart-dotnetcore?tabs=net60&pivots=development-environment-vs">Deploy an ASP.Net web app</a>