@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Yevgeniy Geller's personal place</h1>
    <p>Constant work in progress. A place about me, and a storage for some resources.</p>
    <p>test something here</p>
</div>
