@page
@model IndexModel
@{
    ViewData["Title"] = "Yevgeniy Geller";
}

<div class="text-center">
    <h1 class="display-4">Yevgeniy Geller's sandbox</h1>
    <p>Constant work in progress.</p>
    
</div>
<!--
    Dropdown menu for links
Backlog: set up links to static sites
Link to my github
Landing page
Better styling
Show version or last time it was published
-->