@page
@model yevgeller_v3.Pages.LinksModel
@{
}

<h1>Links here</h1>

<h3>My stuff</h3>
<ul>
    <li><a href="https://yevgellerdesignpatterns.azurewebsites.net/Game1">Minesweeper</a></li>
    <li><a href="https://yevgellerdesignpatterns.azurewebsites.net/">Software Design patterns</a></li>
</ul>

<h3>Not my stuff</h3>

<h5>Rust resources</h5>
<a href="https://github.com/rust-lang/rustlings">Rustlings</a>
<a href="https://nostarch.com/rust-programming-language-2nd-edition">Rust book (No Starch Press)</a>
test

<h5>Vue</h5>
<a href="https://laracasts.com/topics/vue">Laracasts</a>

<h5>General programming exercises</h5>
<a href="https://exercism.org/">Exercism</a>
<a href="https://adventofcode.com/">Advent of Code</a>

<h5>JavaScript</h5>
<a href="https://justjavascript.com/">Just JavaScript</a>