@page
@model yevgeller_v3.Pages.LinksModel
@{
    var pageHeader = Model.store.GetProperlyCapitalizedCategoryName(Model.Param);
}

<h1>@pageHeader</h1>
@foreach (var header in Model.groupHeaders)
{
    if (String.Compare(pageHeader, header, StringComparison.InvariantCultureIgnoreCase) != 0)
    {
        <h3>@header</h3>
    }
    <ul>
        @foreach (var a in Model.currentSelection.Where(x => x.GroupHeader == header))
        {
            <article-as-list-item article="@a"></article-as-list-item>
        }
    </ul>
}