@page
@model yevgeller_v3.Pages.LinksModel
@{
}

<h1>Links here</h1>

<h3>My stuff</h3>
<ul>
    <li><a href="https://yevgellerdesignpatterns.azurewebsites.net/Game1">Minesweeper</a></li>
    <li><a href="https://yevgellerdesignpatterns.azurewebsites.net/">Software Design patterns</a></li>
</ul>

<h3>Not my stuff</h3>

<h5>Rust resources</h5>
<a href="#">Some Rust resource here</a>
test