@page
@model yevgeller_v3.Pages.LongReadsModel
@{
}

<h1>Long reads</h1>

<a href="https://martinfowler.com/articles/evodb.html">Evolutionary Database Design</a>
<a href="http://craftinginterpreters.com/contents.html">Crafting Interpreters</a>
<a href="http://gameprogrammingpatterns.com/">Game Programming Patterns</a>