@page
@model yevgeller_v3.Pages.ProjectIdeasModel
@{
}
<h1>Project Ideas</h1>

<ul>
    <li>
        Design a lift system
    </li>
    <li>
        Design a vending machine -- should accept 1, 5, 10, 25 cents, 1, 2 dollar note
    </li>
    <li>
        Products: Candy(10), Snack (50), Nuts(90), Coke (25), Pepsi (35), Soda (45)
    </li>
    <li>
        Design a traffic controller system for a junction
    </li>
</ul>