@page
@model yevgeller_v3.Pages.TechnicalInterviewModel
@{
}

<h1>Techincal Interview Links</h1>

<a href="https://www.techinterviewhandbook.org/grind75?hours=1">https://www.techinterviewhandbook.org/grind75?hours=1</a>